.container{
    text-align: center;
    margin-top: 15px;
    
    /* border: 2px solid red; */
}
h1{
    font-size: 60px;
}


table{
    margin: auto;
    padding: 15px;

}
input{
    font-size: 34px;
    border: 2px solid #224444;
    border-radius: 20px ;
}
button{
    font-size: 45px;
    background-color: yellowgreen;
    width: 100px;
    height: 60px;
    border-radius: 20px;
}
.calculator{
    display: inline-block ;
    padding: 15px;
    border : 2px solid rgb(161, 135, 135) ;
     border-radius: 20px ;
    background: rgb(161, 126, 226);
}
#clear{
    width: 200%;
}

@media only screen and (min-width: 320px) and (max-width:768px){
    .container{
        width: 100%;
    }
}